demo_data export-ignore
demo_movies export-ignore
.gitignore export-ignore
.readthedocs.yaml export-ignore
codecov.yml export-ignore
.github export-ignore
demo_movies/*.mkv filter=lfs diff=lfs merge=lfs -text
