Sphinx
sphinx-autoapi
pydata-sphinx-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
jupyter-core
ipython
nbconvert
wheel
