Sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
jupyter-core
ipython
nbconvert
wheel
