bokeh~=2.4.3
cvxpy>=1.2.1
dask~=2022.9.2
datashader~=0.14.2
distributed~=2022.9.2
ecos>=2.0.10
ffmpeg-python>=0.2.0
holoviews~=1.15.1
jupyter
matplotlib
natsort
netcdf4
networkx~=2.8.7
numba~=0.56.2
numpy>=1.22.4
opencv-python~=4.6.0
pandas~=1.5.0
panel~=0.14.0
pyfftw~=0.12.0
scikit-image~=0.19.3
scikit-learn~=1.1.2
scipy>=1.9.0
scs
simpleitk~=2.1.1
sk-video
statsmodels>=0.13.2
tifffile
xarray~=2022.9.0
zarr
sparse~=0.13.0
pymetis~=2022.1
rechunker~=0.5.0
medpy~=0.4.0
jinja2~=3.1.2
